@import url('https://fonts.googleapis.com/css?family=Montserrat:900,700,600,300,200');

@font-face {
	font-family: 'mazak';
    src: url('./assets/fonts/mazak.woff2') format('woff2'),
        url('./assets/fonts/mazak.woff') format('woff');
    font-weight: normal;
}

/* TABLE OF CONTENTS 
	
	|--	GENERAL	--|
		RESET
		BODY
		LAYOUT
		TYPE
	
*/

/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BODY	*/

	html, body {
		background-color: #fff;
	}

	body.is-loading-0 *, body.is-loading-0 *:before, body.is-loading-0 *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

/* LAYOUT */

	#table {
		display: table;
		position: relative;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	#table .cell {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

	iframe {
		padding: 1em 0;
	}

/* TYPE */

	h1 {
		font-family: 'mazak';
		font-weight: normal;
		font-style: normal;
		text-transform: lowercase;
	}

		h2.paddingbottom035em {
			padding-bottom: 0.4em;
		}


	h2 {
		font-family: Montserrat;
		font-weight: 600;
	}

	h3 {
		font-family: Montserrat;
		font-weight: 300;
	}

	p {
		margin-bottom: 1em;
		font-family: Montserrat;
		font-weight: 200;
		line-height: 1.2;
		text-align: justify;
		text-align-last: left;
	}

		p.last {
			margin-bottom: 0;
		}

	/* SPECIFIC STYLING */

		.center {
			text-align: center;
		}

		.fontsize15em {
			font-size: 1.5em;
		}

		.fontsize25em {
			font-size: 2.5em;
		}

		.fontsize5em {
			font-size: 5em;
		}

			@media screen and (max-width: 370px) {
				.fontsize5em {
					font-size: 3em;
				}
			}


		.fontsize6em {
			font-size: 6em;
		}

.fontsize8em {
	font-size: 8em;
}

		.fontsize10em {
			font-size: 10em;
		}

		.fontsize12em {
			font-size: 12em;
			letter-spacing: 0.1em;
		}

			@media screen and (max-width: 660px) {
				.fontsize10em {
					font-size: 5em;
				}
			}

			@media screen and (max-width: 370px) {
				.fontsize10em {
					font-size: 3em;
				}
			}

		.white-red {
			color: #fff;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			/* 
			.white-red:hover {
				color: #fe3e00;
			}
			*/

			.white-red a {
				color: #fff;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.white-red a:hover {
				color: #fe3e00;
			}

		.red-black {
			color: #fe3e00;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.red-black:hover {
				color: #151515;
			}

			.red-black a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.red-black a:hover {
				color: #151515;
			}

		.black-red {
			color: #151515;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.black-red a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.black-red a:hover {
				color: #151515;
			}

		.uppercase {
			text-transform: uppercase;
		}

		.textaligncenter {
			text-align: center;
		}

		span {
			background-color: #fe3e00;
			color: #fff;
			-moz-transition: background 0.1s ease-out, color 0.1s ease-out;
			-webkit-transition: background 0.1s ease-out, color 0.1s ease-out;
			-ms-transition: background 0.1s ease-out, color 0.1s ease-out;
			transition: background 0.1s ease-out, color 0.1s ease-out;
		}

			span:hover {
				background: transparent;
				color: inherit;
			}

/* LAYOUT */

	#page {
		margin: 0 auto;
		width: 100vw;
	}

	/* SPECIFIC STYLING */
		
		.width80 {
			width: 80%;
			margin: 0 auto;
		}

		.width60 {
			width: 60%;
			margin: 0 auto;
		}

			@media screen and (max-width: 600px) {
				.width60 {
					width: 80%;
				}
			}

.marginbottom5em {
	margin-bottom: 5em;
}
		.marginbottom7em {
			margin-bottom: 7em;
		}

/* SPECIFIC PAGES */

	#landing {
		display: table;
		position: relative;
		background: 
			 linear-gradient(
				  rgba(254, 62, 0, 0.45), 
				  rgba(255, 62, 0, 0.45)
				),
			url(../../img/18829332574_e82a27787f_o-web.jpg) no-repeat center;
		background-size: cover;
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		overflow: hidden;
	}

		#landing h1 {
			text-shadow: 0 0 1.5em rgba(150, 150, 150, 1);
		}

		#landing p {
			text-shadow: 0 0 0.85em rgba(150, 150, 150, 1);
		}

	.landing-box {
		display: table-cell;
		height: 100%;
		width: 80%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

		@media screen and (max-width: 1200px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 736px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 512px) {
			.landing-box {
				width: 100%;
				padding: 2em;
			}
		}

.logo {
	margin: 0 auto 3em;
	text-align: center;
}
	.arrowdown {
		position: absolute;
		left: 5%;
		bottom: 1em;
		width: 90%;
		margin: 0 auto;
		padding-top: 3em;
		text-align: center;
		color: #fff;
	}

.arrowdown a {
	color: #fff;
	-moz-transition: opacity 0.1s ease-out;
		-webkit-transition: opacity 0.1s ease-out;
		-ms-transition: opacity 0.1s ease-out;
		transition: opacity 0.1s ease-out;
	opacity: 0.3;
}

.arrowdown a:hover {
	color: #fff;
	opacity: 1;
}

		@media screen and (max-height: 700px) {
			.arrowdown {
				display: none;
			}
		}

/* MENU */
/* SOURCE https://codepen.io/EvyatarDa/pen/waKXMd */

	div.container {
		padding: 2.5em 3em;
		background-color: #fe3e00;
		font-family: Montserrat;
		font-size: 1.25em;
		font-weight: 300;
		text-align: center;
		color: #fff;
	}

		@media screen and (max-width: 1050px) {
			div.container {
				padding: 1.5em 3em;
			}
		}

	div.container a.menu {
		position: relative;
		margin: 0 1em;
		padding: 0.5em 1em;
		color: #fff;
		text-decoration: none;
		cursor: pointer;
		z-index: 0;
	}

		@media screen and (max-width: 1050px) {
			div.container a.menu {
				display: block;
				margin: 0.25em 0;
			}
		}

	div.topbottombordersin a:before, div.topbottombordersin a:after {
		position: absolute;
		left: 0px;
		width: 100%;
		height: 2px;
		background: #FFF;
		content: "";
		opacity: 0;
		transition: all 0.3s;
	}

	div.topbottombordersin a:before {
		top: 0px;
		transform: translateY(-10px);
	}

	div.topbottombordersin a:after {
		bottom: 0px;
		transform: translateY(10px);
	}

	div.topbottombordersin a:hover:before, div.topbottombordersin a:hover:after {
		opacity: 1;
		transform: translateY(0px);
	}

/* FOOTER */

	div.footer {
		display: table;
		width: 100vw;
		padding: 2.5em 0;
		background-color: #fe3e00;
		font-family: Montserrat;
		font-size: 1.25em;
		font-weight: 300;
		color: #fff;
	}

		@media screen and (max-width: 1230px) {
			div.footer {
				display: block;
			}
		}

	div.footer .cellleft {
		display: table-cell;
		height: 100%;
		width: 20%;
		margin: 0 auto;
		padding-left: 25%;
		text-align: left;
		vertical-align: middle;
	}

		@media screen and (max-width: 1230px) {
			div.footer .cellleft {
				display: block;
				height: inherit;
				width: 100%;
				padding-left: 0;
				padding-bottom: 2em;
				text-align: center;
			}
		}

	div.footer .cellright {
		display: table-cell;
		height: 100%;
		width: 20%;
		margin: 0 auto;
		padding-right: 25%;
		text-align: right;
		vertical-align: middle;
	}

		@media screen and (max-width: 1230px) {
			div.footer .cellright {
				display: block;
				height: inherit;
				width: 100%;
				padding-right: 0;
				text-align: center;
			}
		}

		div.footer a.footer {
			position: relative;
			display: block;
			padding: 0.35em 1em;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			z-index: 0;
		}

		div.footer a.social {
			position: relative;
			display: inline;
			padding: 0.2em;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			z-index: 0;
		}

			@media screen and (max-width: 1230px) {
				div.footer a.social {
					font-size: 1.8em;
				}
			}

		div.footer a:hover {
			opacity: 0.75;
			-moz-transition: opacity 0.1s ease-out;
			-webkit-transition: opacity 0.1s ease-out;
			-ms-transition: opacity 0.1s ease-out;
			transition: opacity 0.1s ease-out;
		}