@import url('https://fonts.googleapis.com/css?family=Montserrat:900,700,600,300,200');

@font-face {
	font-family: 'mazak';
    src: url('./assets/fonts/mazak.woff2') format('woff2'),
        url('./assets/fonts/mazak.woff') format('woff');
    font-weight: normal;
}

/* TABLE OF CONTENTS 
	
	|--	GENERAL	--|
		RESET
		BODY
		LAYOUT
		TYPE
	
*/

/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BODY	*/

	html, body {
		background-color: #fff;
	}

	body.is-loading-0 *, body.is-loading-0 *:before, body.is-loading-0 *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

/* LAYOUT */

	#table {
		display: table;
		position: relative;
		height: 100vh;
		width: 100%;
		margin: 0 auto;
		overflow: hidden;
	}

	#table .cell {
		display: table-cell;
		height: 100%;
		width: 100%;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

	iframe {
		padding: 1em 0;
	}

/* TYPE */

	h1 {
		font-family: 'mazak';
		font-weight: normal;
		font-style: normal;
		text-transform: lowercase;
		letter-spacing: -0.1em;
	}

		h2.paddingbottom035em {
			padding-bottom: 0.4em;
		}


	h2 {
		font-family: 'Montserrat';
		font-weight: 700;
	}

	h3 {
		font-family: Montserrat;
		font-weight: 300;
	}

	p {
		margin-bottom: 1em;
		font-family: Montserrat;
		font-weight: 200;
		line-height: 1.2;
		text-align: justify;
		text-align-last: left;
	}

		p.last {
			margin-bottom: 0;
		}

	/* SPECIFIC STYLING */

		.center {
			text-align: center;
		}

.left {
	text-align: left;
}

		.fontsize15em {
			font-size: 1.5em;
		}

		.fontsize25em {
			font-size: 2.5em;
		}

.fontsize3em {
	font-size: 3em;
}
.fontsize35em {
	font-size: 3.5em;
}

		.fontsize5em {
			font-size: 5em;
		}

			@media screen and (max-width: 370px) {
				.fontsize5em {
					font-size: 3em;
				}
			}


		.fontsize6em {
			font-size: 6em;
		}

.fontsize8em {
	font-size: 8em;
}

		.fontsize10em {
			font-size: 10em;
		}

.fontsize11em {
			font-size: 11em;
		}

		.fontsize12em {
			font-size: 12em;
		}

			@media screen and (max-width: 660px) {
				.fontsize10em {
					font-size: 5em;
				}
			}

			@media screen and (max-width: 370px) {
				.fontsize10em {
					font-size: 3em;
				}
			}

.white {
	color: #fff;
}

.white a {
	color: #fff;
}

.red {
	color: #fe3e00;
}

.red a {
	color: #fe3e00;
}

.black {
	color: #151515;
}

.black a {
	color: #151515;
}

		.white-red {
			color: #fff;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			/* 
			.white-red:hover {
				color: #fe3e00;
			}
			*/

			.white-red a {
				color: #fff;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.white-red a:hover {
				color: #fe3e00;
			}

		.red-black {
			color: #fe3e00;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.red-black:hover {
				color: #151515;
			}

			.red-black a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.red-black a:hover {
				color: #151515;
			}

		.black-red {
			color: #151515;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.black-red a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

			.black-red a:hover {
				color: #151515;
			}

		.uppercase {
			text-transform: uppercase;
		}

		.textaligncenter {
			text-align: center;
		}

		span.red {
			background-color: #fe3e00;
			color: #fff;
			-moz-transition: background 0.1s ease-out, color 0.1s ease-out;
			-webkit-transition: background 0.1s ease-out, color 0.1s ease-out;
			-ms-transition: background 0.1s ease-out, color 0.1s ease-out;
			transition: background 0.1s ease-out, color 0.1s ease-out;
		}

			span.red:hover {
				background: transparent;
				color: inherit;
			}

/* LAYOUT */

	#page {
		margin: 0 auto;
		width: 100vw;
	}

	/* SPECIFIC STYLING */
		
		.width80 {
			width: 80%;
			margin: 0 auto;
		}

		.width60 {
			width: 60%;
			margin: 0 auto;
		}

			@media screen and (max-width: 600px) {
				.width60 {
					width: 80%;
				}
			}

.width100 {
	width: 100%;
}

.marginbottom5em {
	margin-bottom: 5em;
}
		.marginbottom7em {
			margin-bottom: 7em;
		}

/* SPECIFIC PAGES */

	#landing {
		display: table;
		position: relative;
		background: transparent;
		height: 100vh;
		width: 100vw;
		margin: 0 auto;
		overflow: hidden;
	}

		.black-shadow {
			text-shadow: 0 0 1.5em rgba(150, 150, 150, 1);
		}

.white-shadow {
	text-shadow: 0 0 2.5em rgba(255, 255, 255, 1)
}

		#landing p {
			text-shadow: 0 0 0.85em rgba(150, 150, 150, 1);
		}

.overlap {
	position: relative;
	z-index: 90;
}

.landing-title {
	position: relative;
	height: 100%;
	margin: 0;
	padding: 5em 0;
	/* background: 
		linear-gradient(
				  rgba(255, 255, 255, 0.45), 
				  rgba(255, 255, 255, 0.45)
				),
		url('../../img/20170429_105359-750.jpg') no-repeat top right; */
	text-align: center;
	/* display: table-cell;
	height: 700px;
	width: 100vw;
	padding: 0 5em 0 0;
	vertical-align: middle;
	text-align: center;
	background: #fff url('../../img/zh-logo-700-web.jpg') no-repeat left top; */
}

img.landing-title {
	position: absolute;
	top: 6em;
	left: 50%;
	width: 1200px;
	height: auto;
	margin-left: -600px;
	opacity: 1;
}

.landing-title img.logo:hover {
	opacity: 1;
}

.landing-title h1 {
	width: 100%;
	margin: 0.25em auto;
}

.landing-subtitle-01 {
	height: 2.25em;
	width: max-content;
	margin: -3em auto;
	padding: 1em;
	background: #fe3e00;
	text-align: left;
}

.landing-subtitle-02 {
	position: relative;
	float: left;
	height: 2.25em;
	width: max-content;
	margin: 0 20%;
	padding: 1em;
	background: #fe3e00;
	text-align: left;
	z-index: 15;
}

.landing-subtitle-03 {
	margin: 0.5em 20%;
	text-align: left;
}

	.landing-box-01 {
		height: 100%;
		width: 80%;
		margin: 0 auto;
		padding: 7em 0;
		vertical-align: middle;
		text-align: center;
	}

.landing-box h1 {
	padding-right: 0.1em;
}

		@media screen and (max-width: 1200px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 736px) {
			.landing-box {
			}
		}

		@media screen and (max-width: 512px) {
			.landing-box {
				width: 100%;
				padding: 2em;
			}
		}

.landing-box-02 {
		display: table-cell;
		height: 100%;
		width: 100%;
		background: 
			 linear-gradient(
				  rgba(255, 255, 255, 0.45), 
				  rgba(255, 255, 255, 0.45)
				),
			url(../../img/18829332574_e82a27787f_o-web.jpg) no-repeat center;
		background-size: cover;
		margin: 0 auto;
		padding: 1em;
		vertical-align: middle;
		text-align: center;
	}

.landing-box-03 {
		display: table-cell;
		height: 100%;
		width: 100%;
		background: 
			 linear-gradient(
				  rgba(254, 255, 255, 0.45), 
				  rgba(255, 255, 255, 0.45)
				),
			url(../../img/ClimateMarchDC_042917_337e2c-Karen-Rubin-web.jpg) no-repeat center;
		background-size: cover;
		margin: 0 auto;
		vertical-align: middle;
		text-align: center;
	}

.image-gallery { 
  padding: 0;
  font-size: 0;
}

.image-gallery div {
	display: inline-block;
	-moz-transition: opacity 0.1s ease-out;
	-webkit-transition: opacity 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
	opacity: 0.55;
}

.image-gallery div.first {
	width: 33.33%;
	height: 50%;
	background: url('../../img/Web-march-Levi1-800.jpg') no-repeat center;
	background-size: cover;
}

.image-gallery div.second {
	width: 66.66%;
	height: 50%;
	background: url('../../img/president_protest_0031-800.jpg') no-repeat center;
	background-size: cover;
}

.image-gallery div.third {
	width: 66.66%;
	height: 50%;
	background: url('../../img/1-LrMc7mwOULlwUnqUVefysA-900.jpg') no-repeat center;
	background-size: cover;
}

.image-gallery div.fourth {
	width: 33.33%;
	height: 50%;
	background: url('../../img/Climate-Xiuhtezcatl-Martinez1--870x580-800.jpg') no-repeat center;
	background-size: cover;
}

.image-gallery div.fifth {
	width: 33.33%;
	height: 50%;
	background: url('../../img/FullSizeRender-9-600.jpg') no-repeat center;
	background-size: cover;
}

.image-gallery div.sixth {
	width: 66.66%;
	height: 50%;
	background: url('../../img/CwJ3qSDUsAAuOo3-800.jpg') no-repeat center;
	background-size: cover;
}



.image-gallery div.big { 
	flex-grow: 2;
  flex: auto; 
  width: 500px; 
  margin: 0;
	
	
}

.image-gallery div:hover {
	opacity: 1;
}

.image-gallery div img { 
  width: 100%; 
  height: auto; 
}
@media screen and (max-width: 400px) {
  image-gallery div { margin: 0; }
  image-gallery { padding: 0; }
  
}

.imagecontainer {
	background-color: rgba(254, 62, 0, 1);
	z-index: 12;
}

.imagecontainer img {
	opacity: 0.65;
	-moz-transition: opacity 0.1s ease-out;
	-webkit-transition: opacity 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}

.imagecontainer img:hover {
	opacity: 1;
}

.subtitle-01 {
	width: max-content;
	height: 2.25em;
	margin: 2em auto;
	padding: 1em 2em;
	background-color: #fe3e00;	
}

.no-text-decoration {
	text-decoration: none;
}

.subtitle-02 {
	margin: 2em auto;
	background-color: transparent;
}


	.arrowdown-white {
		position: absolute;
		right: 0.65em;
		bottom: 0.65em;
		width: 90%;
		margin: 0 auto;
		padding-top: 3em;
		text-align: right;
		color: #fff;
	}

.arrowdown-white a {
	color: #fff;
	-moz-transition: color 0.1s ease-out;
	-webkit-transition: color 0.1s ease-out;
	-ms-transition: color 0.1s ease-out;
	transition: color 0.1s ease-out;
	opacity: 1;
}

.arrowdown-white a:hover {
	color: #fe3e00;
	opacity: 1;
}

		@media screen and (max-height: 700px) {
			.arrowdown-white {
				display: none;
			}
		}

	.arrowdown-red {
		position: absolute;
		right: 0.65em;
		bottom: 0.65em;
		width: 90%;
		margin: 0 auto;
		padding-top: 3em;
		text-align: right;
		color: #fe3e00;
	}

.arrowdown-red a {
	color: #fe3e00;
	-moz-transition: opacity 0.1s ease-out;
	-webkit-transition: opacity 0.1s ease-out;
	-ms-transition: opacity 0.1s ease-out;
	transition: opacity 0.1s ease-out;
}

.arrowdown-red a:hover {
	color: #fe3e00;
	opacity: 1;
}

		@media screen and (max-height: 700px) {
			.arrowdown-white {
				display: none;
			}
		}

/* MENU */
/* SOURCE https://codepen.io/EvyatarDa/pen/waKXMd */

.menu {
  position: fixed;
  top: 20px;
  left: 20px;
  height: 46px;
  width: 46px;
	z-index: 100;
}

.menu-link {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1000;
}

.menu-icon {
  position: absolute;
  width: 20px;
  height: 14px;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 1px;
	z-index: 100;
}

/* ------------- */
.menu-line {
  background-color: #333;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  left: 0;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.menu-line-2 {
  top: 0;
  bottom: 0;
  margin: auto;
}
.menu-line-3 {
  bottom: 0;
}
.menu.open .menu-line-1 {
  -webkit-transform: translateY(7px) translateY(-50%) rotate(-45deg);
          transform: translateY(7px) translateY(-50%) rotate(-45deg);
}
.menu.open .menu-line-2 {
  opacity: 0;
}
.menu.open .menu-line-3 {
  -webkit-transform: translateY(-7px) translateY(50%) rotate(45deg);
          transform: translateY(-7px) translateY(50%) rotate(45deg);
}

/* ------------- */
.menu-circle {
  background-color: #fff;
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 50%;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1000;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.menu:hover .menu-circle {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}
.menu.open .menu-circle {
  -webkit-transform: scale(60);
          transform: scale(60);
}

/* ------------- */
.menu-overlay {
  background-color: #fff;
  color: #333;
  height: 100%;
  width: 100%;
	margin-top: 3.5em;
  position: fixed;
  text-align: center;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  z-index: 1001;
  opacity: 0;
  visibility: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-overlay.open {
  opacity: 1;
  visibility: visible;
}

.menu-overlay h1 {
	font-family: 'Montserrat';
	font-weight: 600;
}

/* ------------- */
.info {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.overlay-info 
	text-align: center;
  color: #111825;
}


/* FOOTER */

	div.footer {
		display: table;
		width: 100vw;
		padding: 2.5em 0;
		background-color: #fe3e00;
		font-family: Montserrat;
		font-size: 1.25em;
		font-weight: 300;
		color: #fff;
	}

		@media screen and (max-width: 1230px) {
			div.footer {
				display: block;
			}
		}

	div.footer .cellleft {
		display: table-cell;
		height: 100%;
		width: 20%;
		margin: 0 auto;
		padding-left: 25%;
		text-align: left;
		vertical-align: middle;
	}

		@media screen and (max-width: 1230px) {
			div.footer .cellleft {
				display: block;
				height: inherit;
				width: 100%;
				padding-left: 0;
				padding-bottom: 2em;
				text-align: center;
			}
		}

	div.footer .cellright {
		display: table-cell;
		height: 100%;
		width: 20%;
		margin: 0 auto;
		padding-right: 25%;
		text-align: right;
		vertical-align: middle;
	}

		@media screen and (max-width: 1230px) {
			div.footer .cellright {
				display: block;
				height: inherit;
				width: 100%;
				padding-right: 0;
				text-align: center;
			}
		}

		div.footer a.footer {
			position: relative;
			display: block;
			padding: 0.35em 1em;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			z-index: 0;
		}

		div.footer a.social {
			position: relative;
			display: inline;
			padding: 0.2em;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
			z-index: 0;
		}

			@media screen and (max-width: 1230px) {
				div.footer a.social {
					font-size: 1.8em;
				}
			}

		div.footer a:hover {
			opacity: 0.75;
			-moz-transition: opacity 0.1s ease-out;
			-webkit-transition: opacity 0.1s ease-out;
			-ms-transition: opacity 0.1s ease-out;
			transition: opacity 0.1s ease-out;
		}