@import url('https://fonts.googleapis.com/css?family=Montserrat:900,700,600,500,400,300,200,100');

@font-face {
    font-family: 'RIVERHACK';
    src: url('../fonts/RIVERHACK-Regular.woff2') format('woff2'),
        url('../fonts/RIVERHACK-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Norwester';
	src: url('../fonts/norwester.otf') format('opentype');
	font-weight: normal;
	font-style: normal;
}

/* TABLE OF CONTENTS 
	
	|--	GENERAL	--|
		RESET
		BODY
		TYPE
		LAYOUT
		SPECIFIC PAGES
		MENU
		FOOTER
	
*/

/* RESET */

	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, 
	pre, a, abbr, acronym, address, big, cite, code, del, dfn, img, ins, kbd, q, s, samp, 
	small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, 
	label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, 
	embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, 
	mark, audio, video {
		margin: 0;
		padding: 0;
		vertical-align: baseline;
		border: 0;
		font-size: 100%;
		font: inherit;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
		-webkit-text-size-adjust: none;
	}

	ol, ul {
		list-style: none;
	}

/* BODY	*/

	html, body {
		background-color: #fff;
	}

	body.is-loading-0 *, body.is-loading-0 *:before, body.is-loading-0 *:after {
		-moz-animation: none !important;
		-webkit-animation: none !important;
		-ms-animation: none !important;
		animation: none !important;
		-moz-transition: none !important;
		-webkit-transition: none !important;
		-ms-transition: none !important;
		transition: none !important;
	}

/* TYPE */

	h1 {
		font-family: 'RIVERHACK';
		font-weight: normal;
		font-style: normal;
		line-height: 1.2;
		letter-spacing: 0.1em;
	}
		
	h2 {
		font-family: 'Montserrat';
		font-weight: 400;
	}

	h3 {
		font-family: 'Montserrat';
		font-weight: 300;
	}

h3.padding-top-4em {
	padding-top: 4rem;
}

h3.padding-bottom-025em {
	padding-bottom: 0.25rem;
}

		h3.padding-bottom-1em {
			padding-bottom: 1rem;
		}

	p {
		margin-bottom: 1.1em;
		font: 300 1.15rem/1.3 'Montserrat';
		text-align: justify;
	}

		p.center {
			text-align: center;
		}
		
		p.alt {
			font-weight: 300;
			line-height: 1.5;
		}

		p.last {
			margin-bottom: 0;
		}
		
		@media screen and (max-width: 767px) {
			p {
				font-size: 1rem;
			}
		}

	/* SPECIFIC STYLING */

		/* FONT SIZE 
		NOTE: FONT SIZES WITH DECIMALS DON'T HAVE DECIMALS IN THE DIV TAG 
		*/

		.font-size-15em {
			font-size: 1.5rem;
		}

		.font-size-2em {
			font-size: 2rem;
		}

		.font-size-25em {
			font-size: 2.5rem;
		}

			@media screen and (max-width: 400px) {
				.font-size-25em {
					font-size: 2rem;
				}
			}

		.font-size-3em {
			font-size: 3rem;
		}

		.font-size-35em {
			font-size: 3.5rem;
		}

		.font-size-5em {
			font-size: 5rem;
		}

			@media screen and (max-width: 370px) {
				.font-size-5rem {
					font-size: 3rem;
				}
			}

		.font-size-7em {
			font-size: 7rem;
		}

			@media screen and (min-width: 1300px) {
				.font-size-7em {
					font-size: 10rem;
				}
			}

			@media screen and (max-width: 960px) {
				.font-size-7em {
					font-size: 5rem;
				}
			}

			@media screen and (max-width: 760px) {
				.font-size-7em {
					font-size: 3.6rem;
				}
			}

			@media screen and (max-width: 480px) {
				.font-size-7em {
					font-size: 2.3rem;
				}
			}

		.font-size-8em {
			font-size: 8rem;
		}

		.font-size-9em {
			font-size: 9rem;
		}

			@media screen and (max-width: 660px) {
				.font-size-9em {
					font-size: 7rem;
				}
			}

			@media screen and (max-width: 370px) {
				.font-size-9em {
					font-size: 5rem;
				}
			}

		.font-size-11em {
					font-size: 11rem;
				}

		.font-size-12em {
			font-size: 12rem;
		}

			@media screen and (max-width: 660px) {
				.font-size-12em {
					font-size: 5rem;
				}
			}

			@media screen and (max-width: 370px) {
				.font-size-12em {
					font-size: 3rem;
				}
			}

		/* ALIGNMENT */

		.center {
			text-align: center;
		}

		.left {
			text-align: left;
		}

		/* COLOUR */

		.white {
			color: #fff;
		}

			.white a {
				color: #fff;
			}

		.red {
			color: #fe3e00;
		}

			.red a {
				color: #fe3e00;
			}

		.black {
			color: #151515;
		}

			.black a {
				color: #151515;
			}

		.white-red {
			color: #fff;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			/* 
			.white-red:hover {
				color: #fe3e00;
			}
			*/

			.white-red a {
				color: #fff;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

				.white-red a:hover {
					color: #fe3e00;
				}

		.red-black {
			color: #fe3e00;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.red-black:hover {
				color: #151515;
			}

			.red-black a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

				.red-black a:hover {
					color: #151515;
				}

		.red-white {
			color: #fe3e00;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.red-white:hover {
				color: #fff;
			}

		.black-red {
			color: #151515;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
		}

			.black-red a {
				color: #fe3e00;
				-moz-transition: color 0.1s ease-out;
				-webkit-transition: color 0.1s ease-out;
				-ms-transition: color 0.1s ease-out;
				transition: color 0.1s ease-out;
			}

				.black-red a:hover {
					color: #151515;
				}

		/* TEXT TRANSFORM */

		.uppercase {
			text-transform: uppercase;
		}

		/* TEXT SHADOW */

		.black-shadow {
			text-shadow: 0 0 1.5em rgba(75, 75, 75, 1);
		}

		.white-shadow {
			text-shadow: 0 0 2.5em rgba(255, 255, 255, 1);
		}

		/* SPAN */

		span.red {
			background-color: #fe3e00;
			color: #fff;
			-moz-transition: background 0.1s ease-out, color 0.1s ease-out;
			-webkit-transition: background 0.1s ease-out, color 0.1s ease-out;
			-ms-transition: background 0.1s ease-out, color 0.1s ease-out;
			transition: background 0.1s ease-out, color 0.1s ease-out;
		}

			span.red:hover {
				background: transparent;
				color: inherit;
			}

		span.letter-spacing {
			letter-spacing: -0.2rem;
		}

/* LAYOUT */

	iframe {
		padding: 1em 0;
	}

	/* SPECIFIC STYLING */

		/* PAGE WIDTH */

		.width-60 {
			width: 60%;
			margin: 0 auto;
		}

			@media screen and (min-width: 1400px) {
				.width-60 {
					width: 40%;
				}
			}

			@media screen and (max-width: 600px) {
				.width-60 {
					width: 85%;
				}
			}

		.width-80 {
			width: 80%;
			margin: 0 auto;
		}

		.width-100 {
			width: 100%;
		}

		/* MARGIN */

		.padding-1em {
			padding: 1rem;
		}

		.padding-vertical-2em {
			padding: 2rem 0;
		}

		.padding-top-2em {
			padding-top: 2rem;
		}

		.padding-top-8em {
			padding-top: 8rem;
		}

		.padding-bottom-3em {
			padding-bottom: 3rem;
		}

		.margin-top-1em {
			margin-top: 1rem;
		}

		.margin-top-2em {
			margin-top: 2rem;
		}
	
		.margin-top-3em {
			margin-top: 3rem;
		}
		
		.margin-bottom-1em {
			margin-bottom: 1rem;
		}

		.margin-bottom-2em {
			margin-bottom: 2rem;
		}

		.margin-bottom-5em {
			margin-bottom: 5rem;
		}

		.margin-bottom-7em {
			margin-bottom: 7rem;
		}

		.margin-bottom-9em {
			margin-bottom: 9rem;
		}

		.margin-8-4 {
			margin: 8rem 0 4rem;
		}

		/* MISCELLANEOUS */

		.overlap {
			position: relative;
			z-index: 90;
		}

		.buttons-bottom {
			position: absolute;
			width: 100%;
			bottom: -3rem;
		}

		.button {
			background-color: #fff;
			color: #fe3e00;
			-moz-transition: background 0.1s ease-out;
			-webkit-transition: background 0.1s ease-out;
			-ms-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
		}

		.button:hover {
			background-color: #000000;
		}

		.no-text-decoration {
			text-decoration: none;
		}

/* SPECIFIC PAGES */

	/* LANDING */

	#landing-box {
		display: table;
		position: relative;
		background: transparent;
		height: 100vh;
		width: 100%; 
		margin: 0 auto;
		overflow: hidden;
	}

		.landing-box-01 {
			display: table-cell;
			height: 100%;
			width: 100%;
			padding: 2rem 1rem;
			background: 
				 linear-gradient(
					  rgba(255, 255, 255, 0.45), 
					  rgba(255, 255, 255, 0.45)
					),
				url(../../img/home/IMG_0027-web.jpg) no-repeat center;
			background-size: cover;
			vertical-align: middle;
			text-align: center;
		}

			@media screen and (max-width: 900px) {
				.landing-box-01 {
					padding: 2rem .5rem;
				}
			}

		.landing-box-02 {
			display: table-cell;
			height: 100%;
			width: 100%;
			background: 
				 linear-gradient(
					  rgba(254, 255, 255, 0.45), 
					  rgba(255, 255, 255, 0.45)
					),
				url(../../img/home/IMG_9961-web.jpg) no-repeat center;
			background-size: cover;
			vertical-align: middle;
			text-align: center;
		}

		.landing-box-03 {
			display: block;
			height: 100%;
			width: 100%;
			background: 
				 linear-gradient(
					  rgba(254, 255, 255, 0.45), 
					  rgba(255, 255, 255, 0.45)
					),
				url(../../img/our-actions/18193154_1549666095076023_7334343761382197053_o.jpg) no-repeat center;
			background-size: cover;
			vertical-align: middle;
			text-align: center;
		}

	.image-gallery { 
		padding: 0;
		background-color: #fe3e00;
		font-size: 0;
	}

		.image-gallery div {
			display: inline-block;
			-moz-transition: opacity 0.1s ease-out;
			-webkit-transition: opacity 0.1s ease-out;
			-ms-transition: opacity 0.1s ease-out;
			transition: opacity 0.1s ease-out;
			opacity: 0.6;
		}

		.image-gallery .image-wide {
			width: 66.66%;
			height: 60%;
		}

			@media screen and (max-width: 600px) {
				.image-gallery .image-wide {
					display: block;
					width: 100% !important;
					height: 50%;
					background-size: contain;
				}
			}

			@media screen and (max-width: 900px) {
				.image-gallery .image-wide {
					width: 50%;
					height: 60%;
				}
			}

		.image-gallery .image-narrow {
			width: 33.33%;
			height: 60%;
		}

			@media screen and (max-width: 600px) {
				.image-gallery .image-narrow {
					display: block;
					width: 100% !important;
					height: 50%;
					background-size: contain;
				}
			}

			@media screen and (max-width: 900px) {
				.image-gallery .image-narrow {
					width: 50%;
					height: 60%;
				}
			}

		.image-gallery div.gallery-first {
			background: url('../../img/gallery/IMG_9909-900.jpg') no-repeat center;
			background-size: cover;
		}


		.image-gallery div.gallery-second {
			background: url('../../img/gallery/Copy-of-3-900.jpg') no-repeat center;
			background-size: cover;
		}


		.image-gallery div.gallery-third {
			background: url('../../img/gallery/Copy-of-IMG_3708-900.jpg') no-repeat center;
			background-size: cover;
		}

		.image-gallery div.gallery-fourth {
			background: url('../../img/gallery/Copy-of-IMG-20180730-WA0032-800.jpg') no-repeat center;
			background-size: cover;
		}

		.image-gallery div.gallery-fifth {
			background: url('../../img/gallery/Copy-of-huff_workers-646.jpg') no-repeat center;
			background-size: cover;
		}

		.image-gallery div.gallery-sixth {
			background: url('../../img/gallery/IMG_9783-900.jpg') no-repeat center;
			background-size: cover;
		}

			.image-gallery div:hover {
				opacity: 1;
			}

		@media screen and (max-width: 400px) {
		  image-gallery div { 
			  margin: 0;
			  width: 100%;
			}
		  image-gallery {padding: 0;}
		}

	.text-blurb-grey { 
		padding: 3rem 0;
		background: rgb(0, 0, 0);
		color: #fff;
	}

		.text-blurb-grey h2 {
			padding: 0.5rem 0 1.5rem;
		}

		@media screen and (max-width: 400px) {
			.text-blurb-grey {
				padding: 2rem .5rem;
			}
		}

	.text-blurb-white { 
		padding: 3rem 0;
		background: #fff;
	}

	.button-primary {
		margin: 1rem 0;
		padding: 0.8rem 1.3rem;
		border-radius: 4px;
		display: inline-block;
		font-size: 1.5rem;
		font-weight: 600;
		text-decoration: none;
		text-align: center;
	}

	.button-secondary {
		margin: 1rem 0 0 0.5rem;
		padding: 0.8rem 1.3rem;
		border-radius: 4px;
		display: inline;
		font-size: 1.5rem;
		font-weight: 600;
		text-decoration: none;
		text-align: center;
	}

	.button-red {
		background: #fe3e00;
		color: #fff;
	}

	.button-red-black {
		background: #fe3e00;
		color: #fff;
		-moz-transition: background 0.1s ease-out;
		-webkit-transition: background 0.1s ease-out;
		-ms-transition: background 0.1s ease-out;
		transition: background 0.1s ease-out;
	}

		.button-red-black:hover {
			background: #333;
		}

	.button-white-blue {
		background: #fff;
		color: #fe3e00;
	}

		.button-white-blue:hover {
			background: #000000;
		}

.button-white {
	background-color: rgba(255,255,255,1);
	color: #fe3e00;
}

.button-white:hover {
	background-color: rgba(255,255,255,.8);
}

	@-webkit-keyframes pulse {
		25% {
    			-webkit-transform: scale(1.2);
    			transform: scale(1.2);
  		}
  		75% {
    			-webkit-transform: scale(0.8);
    			transform: scale(0.8);
  		}
	}

	@keyframes pulse {
  		25% {
    			-webkit-transform: scale(1.2);
    			-ms-transform: scale(1.2);
    			transform: scale(1.2);
  		}
  		75% {
    			-webkit-transform: scale(0.8);
    			-ms-transform: scale(0.8);
    			transform: scale(0.8);
  		}
	}
	
	.donate {
		vertical-align: middle;
		-webkit-transform: translateZ(0);
  		-ms-transform: translateZ(0);
  		transform: translateZ(0);
		box-shadow: 0 0 1px transparent;
		position: relative;
		padding-right: 2.2em;
	}

	.donate:before {
		content: "\f004";
		position: absolute;
		top: 1rem;
		right: 1rem;
		padding: 0 1px;
		font-family: Font Awesome\ 5 Free;
		font-size: 1.2rem;
		-webkit-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.donate:hover:before, .donate:focus:before, .donate:active:before {
		-webkit-animation-name: pulse;
  		animation-name: pulse;
  		-webkit-animation-duration: 1s;
  		animation-duration: 1s;
  		-webkit-animation-timing-function: linear;
  		animation-timing-function: linear;
  		-webkit-animation-iteration-count: infinite;
  		animation-iteration-count: infinite;
	}

	#zero-hour {
		padding: 7em 0;
		text-align: center;
	}

 	#zero-hour h1 {
		font-size: 1.5rem;
		padding: 2rem 1rem 0;
	}	

	
	@media (min-width:480px) and (max-width:959px){
		#zero-hour h1 {
			font-size: 2.5rem;
			padding:3rem 1rem 0;
		}
	}

	@media (min-width:960px) {
		#zero-hour h1 {
			font-size: 4.5rem;
			padding: 5rem 1rem 0;
		}
	}

	/* WHO WE ARE */

	.img-responsive {
		display: block;
		margin: 2rem auto;
		width: 100%;
	}

	.team-list {
		display: table;
		position: relative;
		width: 100%;
		margin: 0;
		text-align: left;
	}

	.team-thumb {
		display: inline-block;
		position: relative;
		width: 25%;
		min-height: 300px;
		margin: 0;
			background: center no-repeat;
		background-size: cover;
		vertical-align: middle;
	}

			@media screen and (max-width: 800px) {
				.team-thumb {
					width: 50%;
				}
			}

		.team-thumb h2 {
			display: table-cell;
			width: 25%;
			height: 300px;
			margin: 0 auto;
			padding: 1em;
			font-family: 'Montserrat';
			font-size: 1.25em;
			font-weight: 400;
			text-transform: uppercase;
			color: #fe3e00;
			text-align: center;
			vertical-align: middle;
			opacity: 0;
			-moz-transition: background 0.1s ease-out;
			-webkit-transition: background 0.1s ease-out;
			-ms-transition: background 0.1s ease-out;
			transition: background 0.1s ease-out;
		}

			@media screen and (max-width: 400px) {
				.team-thumb h2 {
					font-size: 1em;
				}
			}

			.team-thumb h2:hover {
				background-color: rgba(255,255,255,0.75);
				opacity: 1;
			}

	#googft-mapCanvas {
		width: 100%;
		height: 20em;
		margin: 0;
		padding: 0;
	}

	#googft-legend {
		display: none;
		background-color: #fff;
		border:1px solid #000;
		font-family: Arial, sans-serif;
		font-size: 12px; 
		margin: 5px;
		padding: 10px 10px 8px
	}

	#googft-legend p {
		font-weight: bold;
		margin-top: 0
	}

	#googft-legend div {
		margin-bottom: 5px
	}

	.googft-legend-swatch {
		border: 1px solid;
		float: left;
		height: 12px;
		margin-right: 8px;
		width: 20px
	}

	.googft-legend-range {
		margin-left: 0
	}

	.googft-dot-icon {
		margin-right: 8px
	}

	.googft-paddle-icon {
		height: 24px;
		left: -8px;
		margin-right: -8px;
		position: relative; 
		vertical-align: middle;
		width: 24px
	}

	.googft-legend-source {
		margin-bottom: 0;
		margin-top: 8px
	}

	.googft-legend-source a {
		color: #666;
		font-size: 11px
	}

	.logo-gallery {
		width: 90%;
		margin: 0 auto;
		text-align: center;
	}

		.logo-gallery img {
			filter: gray;
			-webkit-filter: grayscale(1);
			-moz-transition: all 0.1s ease-out;
			-webkit-transition: all 0.1s ease-out;
			-ms-transition: all 0.1s ease-out;
			transition: all 0.1s ease-out;
		}

			.logo-gallery img:hover {
				filter: none;
				-webkit-filter: grayscale(0);
			}

	.youth-stories img {
		float: left; 
		padding: 0 1rem 0.5rem 0;
	}

		@media screen and (max-width: 1000px) {
			.youth-stories img {
				float: none;
				display: block;
				padding: 0 0 1rem 0;
			}
		}

		@media screen and (max-width: 460px) {
			.youth-stories img {
				width: 100%;
			}
		}

/* MEDIA */ 

	img.media-image {
		width: 100%;
		padding: 1rem 0;
	}

/* SHOP */

	.shop-gallery {
		width: 90%;
		margin: 0 auto 5rem;
		display: flex;
		text-align: center;
	}

	.shop-column {
		flex: 30%;
		padding: 1rem; 
	}

.shop-column img {
	max-width: 100%;
}

		@media screen and (max-width: 1050px) {
			.shop-gallery {
				display: block;
			}

			.shop-column {
				flex: 100%;
			}
		}

		@media screen and (max-width: 500px) {
			.shop-column img {
				max-width: 100%;
			}
		}

/* MENU
SOURCE: https://codepen.io/EvyatarDa/pen/waKXMd 
*/

	.menu {
		position: fixed;
		top: 20px;
		left: 20px;
		width: 46px;
		height: 46px;
		z-index: 100;
	}

		@media screen and (max-width: 570px) {
			.menu {
				top:38px;
			}
		}

		.menu-link {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1000;
		}

	.menu-icon {
		position: absolute;
		width: 20px;
		height: 16px;
		margin: 17px auto auto auto;
		left: 0;
		top: 0;
		right: 0;
		bottom: 1px;
		z-index: 100;
	}

	.menu-line {
		position: absolute;
		left: 3px;
		width: 100%;
		height: 4px;
		background-color: #fff;
		border-radius: 2px;
		-webkit-transition: all 0.25s ease-in-out;
		transition: all 0.25s ease-in-out;
	}

		.menu-line-2 {
			top: 0;
			bottom: 0;
			margin: auto;
		}

		.menu-line-3 {
			bottom: 0;
		}

		.menu.open .menu-line-1 {
			-webkit-transform: translateY(7px) translateY(-50%) rotate(-45deg);
			transform: translateY(7px) translateY(-50%) rotate(-45deg);
		}

		.menu.open .menu-line-2 {
			opacity: 0;
		}

		.menu.open .menu-line-3 {
			-webkit-transform: translateY(-9px) translateY(50%) rotate(45deg);
			transform: translateY(-9px) translateY(50%) rotate(45deg);
		}

	.menu-circle {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: #fe3e00;
		border: 3px #fff solid;
		border-radius: 50%;
		-webkit-transform: scale(1);
		transform: scale(1);
		-webkit-transition: -webkit-transform 0.3s ease-in-out;
		transition: -webkit-transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out;
		transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
		z-index: 1000;
	}

		.menu:hover .menu-circle {
			-webkit-transform: scale(1.5);
			transform: scale(1.5);
		}

		.menu.open .menu-circle {
			-webkit-transform: scale(100);
			transform: scale(100);
		}

	.menu-overlay {
		position: fixed;
		top: 3em;
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		width: 100%;
		background-color: #fe3e00;
		color: #333;
		text-align: center;
		-webkit-transition: opacity 0.2s ease-in-out;
		transition: opacity 0.2s ease-in-out;
		visibility: hidden;
		opacity: 0;
		z-index: 10002;
	}

	.menu-items {
		max-width: 50%;
		margin-top: -8em;
	}

		.menu-items a {
			color: #fff;
			text-decoration: none;
		}

	.menu-items h1 {
		display: block;
		margin: 0.5em 0;
		font-size: 2.5em;
		color: #fff;
	}

		@media screen and (max-width: 650px) {
			.menu-items h1 {
				font-size: 1.5em;
			}
		}

		@media screen and (max-width: 400px) {
			.menu-items h1 {
				font-size: 1.4em;
			}
		}

		.menu-overlay h1:hover {
			background: url('../../img/menu/swash-300.png') no-repeat center;
		}

			@media screen and (max-width: 650px) {
				.menu-overlay h1:hover {
					background: url('../../img/menu/swash-200.png') no-repeat center;
				}
			}

			@media screen and (max-width: 400px) {
				.menu-overlay h1:hover {
					background: url('../../img/menu/swash-150.png') no-repeat center;
				}
			}

		.menu-overlay.open {
			opacity: 1;
			visibility: visible;
		}

/* BANNER */

	#banner {
		position: fixed;
		display: flex;
		top: 0;
		left: 0;
		justify-content: flex-end;
		align-content: center;
		height: 2em;
		width: 100%;
		padding: 10px;
		background-color: #fe3e00;
		color: #ffffff;
		font-family: 'Montserrat';
		font-weight: 300;
		font-size: 1em;
		z-index: 10;
		opacity: 1;
	}

	.nav-logo {
		height:100%;
		padding-right: 5px;
		width: auto;
	}

	.nav-items {
		display: flex;
		white-space: nowrap;
		justify-content: flex-start;
	} 

	.nav-right {
		margin-left: auto;
		align-items: center;
	}

		/* Banner Link Transitions */
		#banner a:before {
			content: "";
			position: absolute;
			width: 100%;
			height: 2px;
			bottom: 0;
			left: 0;
			background-color: #000;
			visibility: hidden;
			-webkit-transform: scaleX(0);
			transform: scaleX(0);
			-webkit-transition: all 0.3s ease-in-out 0s;
			transition: all 0.3s ease-in-out 0s;
		}

		#banner  a:hover:before {
			visibility: visible;
			-webkit-transform: scaleX(1);
			transform: scaleX(1);
		}
	
		#banner a {
			position: relative;
			padding-right: 8px;
			color: #fff;
			margin: 10;
			text-decoration: none;
		}

		#banner #banner-logo {
			font-size: 30;
			font-family: 'RIVERHACK';
		}

		@media screen and (max-width: 600px) {
			#banner a{display: none;}
			#banner a.icon {
				float: right;
				display: block;
			}
		}

		@media screen and (min-width: 600px) {
			#banner button{
				display: none;
			}
		}
/* SUBSCRIBE WIDGET */

	.can_embed #can_embed_form,
	.can_embed #donate_auto_modal {
		color: #151515 !important;
		font-family: 'Montserrat';
	}

	.can_embed #can_embed_form a, .can_embed #donate_auto_modal a {
		color: #fe3e00;
	}

	/* Heading colors */
	.can_embed #can_embed_form h1,
	.can_embed #donate_auto_modal h1,
	.can_embed #can_embed_form h2,
	.can_embed #donate_auto_modal h2,
	.can_embed #can_embed_form h3,
	.can_embed #donate_auto_modal h3,
	.can_embed #can_embed_form h4,
	.can_embed #donate_auto_modal h4,
	.can_embed #can_embed_form h5,
	.can_embed #donate_auto_modal h5,
	.can_embed #can_embed_form h6,
	.can_embed #donate_auto_modal h6 {
		color: #151515 !important;
	}

	.can_embed #logo_wrap {
		display: none !important;
	}

	.can_embed .can_button,
	.can_embed #can_embed_form input[type="submit"],
	.can_embed #can_embed_form .button,
	.can_embed #donate_auto_modal input[type="submit"],
	.can_embed #donate_auto_modal .button {
		background-color: #fe3e00 !important;
	}

/* FOOTER */

	.footer {
		background: #fe3e00;
		font-size: 2rem;
		display: table;		
		margin: 0 auto;
		padding: 4rem 0;		
		text-align: center;
		width: 100vw;
	}

		.footer p {
			font-size: 1rem;
		}

	@media screen and (max-width: 767px) {
		.footer {
			font-size: 1.5rem;
		}
	}

	.social {
		display: table-cell;
		width: 100%;
		margin: 0 auto;
		text-align: center;
		vertical-align: middle;
	}

	.social a{
		text-decoration: none;
	}

		.social-icon {
			display: inline-block;
			width: 0em;
			height: 0em;
			margin: 1em 0.5em;
			padding: 1em;
			border-radius: 1em;
			text-align: center;
		}

		.social-fix {
			margin-top: -0.49em;
			margin-left: -0.41em;
			text-decoration: none;
		}

	.credit {
		position: relative;
		bottom: 0;
		left: 0;
		width: 100%;
		margin-top: -2rem;
		padding: 0 0.5rem 1rem 0.5rem;
		font-family: 'Montserrat';
		font-weight: 300;
		text-align: center;
		font-size: 1rem;
		color: #fff;	
		opacity: 0.6;
	}

		.credit a {
			color: #fff;
		}

		.credit:hover {
			opacity: 1;
		}

@media screen and (max-width: 380px) {
	.credit {
		font-size: 0.85rem;
	}
}

/* UNUSED */

	.arrowdown-white {
		position: absolute;
		right: 0.65em;
		bottom: 0.65em;
		width: 90%;
		margin: 0 auto;
		padding-top: 3em;
		text-align: right;
		color: #fff;
	}

		.arrowdown-white a {
			color: #fff;
			-moz-transition: color 0.1s ease-out;
			-webkit-transition: color 0.1s ease-out;
			-ms-transition: color 0.1s ease-out;
			transition: color 0.1s ease-out;
			opacity: 1;
		}

			.arrowdown-white a:hover {
				color: #fe3e00;
				opacity: 1;
			}

		@media screen and (max-height: 700px) {
			.arrowdown-white {
				display: none;
			}
		}

	.arrowdown-red {
		position: absolute;
		right: 0.65em;
		bottom: 0.65em;
		width: 90%;
		margin: 0 auto;
		padding-top: 3em;
		text-align: right;
		color: #fe3e00;
	}

		.arrowdown-red a {
			color: #fe3e00;
			-moz-transition: opacity 0.1s ease-out;
			-webkit-transition: opacity 0.1s ease-out;
			-ms-transition: opacity 0.1s ease-out;
			transition: opacity 0.1s ease-out;
		}

			.arrowdown-red a:hover {
				color: #fe3e00;
				opacity: 1;
			}

		@media screen and (max-height: 700px) {
			.arrowdown-white {
				display: none;
			}
		}

/* Video CSS for Miami */

.video-container{
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: flex-start;
}

.video-container video{
	position: absolute;
	width: auto;
	height: auto;
	min-width: 100%;
	min-height: 100%;
	top: 50%;
	left: 50%;
	opacity: 0.4;
	transform: translate(-50%, -50%);
}

.video-content {
	position: absolute;

	padding: 20px;
	font-size: 70px;
	margin-top: 300px;
}


@media only screen and (max-width: 600px){
	.video-content{
		visibility: hidden;
	}
}